
body,.btn{
    /* background-color: #1F1E1E; */
    color: #DAD3CD;  
}
.navbar{
    justify-content: flex-end;
}
/* .container{
    min-width: 90%;
} */


#skills,#projects{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;    

}
#skills{
    justify-content: space-evenly;
}
.languages{
    font-size: 110%;
    margin: 10px 50px;
}
.row{
    margin: 10px 0;
}
.card{
    background-color: transparent;
    height: 406.53px;
    margin: 40px;
    border-color:  #DAD3CD;
}
.card-img-top{
    height: 228.05px;
}
.deployed{
    background-color: transparent;
    border-color: transparent;
}
