.project{
    margin: 10px;
    background-color: transparent;
}

.card-body{
    padding: 0 !important;
}
.card-title{
    position: absolute;
    width: 100%;
    top:70%;
    text-align: center;
    background-color:#353535; 
    color: #EB6864;
    border-radius: 78px 78px 78px 78px;
-moz-border-radius: 78px 78px 78px 78px;
-webkit-border-radius: 78px 78px 78px 78px;
border: 0px solid #000000;
}



/* modals */
.modal,.close{
    color: #EB6864;
}

.modalBody,.footer,.header{
    background-color: #353535
}   
.modalBody{
    padding: 0 !important;
}
.footer{
    display: flex;
    flex-direction: column;

}
.technology,.links{
    display: inline;
}
.linkList{
    width: 100%;
    text-align: center;
}

.description{
    text-align: center;
}
.technologies{
    width: 100%;
}
.technology{
    margin: 0 2%;
}

ul{
    padding: 0;
    text-align: center;
}