#mainBar{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    right: 0;
}



@media (max-width: 575.98px) { 

    #mainBar{
       /* padding-top: 10%; */
        width: 100%;    
        max-width: 100%;
        position: relative;
        top:10px;
    }
    
   }

   
@media (max-width: 358px) { 

    #mainBar{
        padding-left: 0;
        padding-right: 0;
    }
    
   }